# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# VS Code / Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac/Linux
.DS_Store